<!DOCTYPE html>
<html>
<head>
<title>Regex Data Extraction</title>


<style>

body{
font-family: Arial;
margin:40px;
background-color: #12c195;
}

.container{
display:flex;
gap:40px;
flex-wrap:wrap;
}

.box{
border:1px solid #ddd;
padding:15px;
width:220px;
border-radius:8px;
background:#f48787;
overflow: auto;
}

ul{
padding-left:20px;
}

li{
word-wrap: break-word;
overflow-wrap: break-word;
word-break: break-all;
}

button{
padding:10px 15px;
margin-right:10px;
cursor:pointer;
}

</style>

</head>

<body>

<h2 style="color: #161717e0;">REGEX DATA EXTRACTION TOOL (python Flask)</h2>
 
<form method="POST">

<button type="submit" style="background-color: #3908eb; color: white; border: true;">Extract Info</button>

<button type="button" style="background-color: #3908eb; color: white; border: true;" onclick="window.location.href='/'">
Refresh
</button>

</form>

<hr>


<div class="container">

<div class="box">
<h3>Emails</h3>
<ul>
{% for email in emails %}
<li>{{ email }}</li><br>
{% endfor %}
</ul>
</div>

<div class="box">
<h3>URLs</h3>
<ul>
{% for url in urls %}
<li>{{ url }}</li><br>
{% endfor %}
</ul>
</div>

<div class="box">
<h3>Phones</h3>
<ul>
{% for phone in phones %}
<li>{{ phone }}</li><br>
{% endfor %}
</ul>
</div>

<div class="box">
<h3>Credit Cards</h3>
<ul>
{% for card in credit_cards %}
<li>{{ card }}</li><br
{% endfor %}
</ul>
</div>

<div class="box">
<h3>Currency</h3>
<ul>
{% for money in currency %}
<li>{{ money }}</li><br>
{% endfor %}
</ul>
</div>

</div>

</body>
</html>